{% extends 'base.html.twig' %}


{% block body %}
<div>
    <form action="" method="post">
        Nom: <input type="text" name="nom" id=""><br>
        Description: <input type="text" name="description" id=""><br>
        <input type="submit" value="Valider">
    </form>
</div>
{% endblock %}
