{% extends 'base.html.twig' %}


{% block body %}
    <nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path("accueil") }}">Accueil</a></li>
    </ol>
    </nav>

    <div class="row">
        {% for categorie in categories %}
            <div class="col-4 mt-2 ">
            <a href="{{ path("categorie", { categorie: categorie.id }) }}">
                <img src="/images/{{ categorie.image }}" class="img-fluid  img-categorie">
                <div class="text-center">
                    {{ categorie.nom }}
                </div>
            </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
